.input--title
  border: none
  font-size: inherit
  border-bottom: dashed 1px $grey-font
  color: inherit
  &:focus
    filter: brightness(95%)

::placeholder
  color: $grey-font
  opacity: 1

::-ms-input-placeholder
  color: $grey-font

::-ms-input-placeholder
  color: $grey-font
