@mixin form-components
  font-family: 'Open Sans'
  font-size: 12px
  font-weight: 400

@mixin title
  font-family: 'Open Sans'
  font-weight: 600
  color: #2c3e50

.gherkin-keyword
  color: $cucumber-green