@import "Reset"
@import "./design-system/Colors"
@import "./design-system/Typography"
@import "./design-system/Buttons"
@import "./design-system/Input"
@import "./design-system/Title"
@import "./design-system/Tile"
@import "./design-system/Steps"
@import "./design-system/Medias"
@import "./design-system/Description"

body
  background-color: $grey-bg
  margin: 0
  padding: 20px
  @include sm
    padding: 0

h1, h2
  @include title
  margin: 0

h1
  margin-top: 15px
  padding-bottom: 15px
  font-size: 22px
  @include sm
    padding-bottom: 5px
    font-size: 3vmax

h2

  margin-top: 5px
  padding-bottom: 15px
  font-size: 18px
  @include sm
    margin-top: 5px
    padding-bottom: 5px
    font-size: 2vmax

.l-app
  width: 75%
  margin: 0 auto
  @include sm
    width: 100%
    max-width: 100%
    margin: 0
    & > .visual-editor > h1
      padding: 5px

.text-renderer
  margin-top: 50px
  padding-top: 50px
  border-top: dashed 1px $grey-font
  textarea
    width: 100%